<body ng-app="myApp" ng-controller="myCtrl">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
	
        
        .card-table {
            border: solid 1px #DDEEEE;
            border-collapse: collapse;
            border-spacing: 0;
            font: normal 13px Arial, sans-serif;
        }

        .zui-table {
            border: solid 1px #ccc6c6;
            border-collapse: collapse;
            border-spacing: 0;
            font: normal 13px Arial, sans-serif;
        }

        .zui-table th {
            background-color: #e8eff9;
            border: solid 1px #ccc6c6;
            font-weight: bold;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #fff;
        }

        .zui-table tbody td {
            border: solid 1px #ccc6c6;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }

        .cap-opx-table td {
            border: solid 1px #ccc6c6;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }

        td,
        th {
            text-align: left;
        }

        td {
            font-weight: 500;
        }

        th {
            font-weight: 700;
        }

        td>h4 {
            font-weight: 500;
        }

        th>h4 {
            font-weight: 700;
        }
	

        .cards>table {
            table-layout: fixed;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        .cost-align-class {
            text-align: center !important;
        }
	html{zoom:0.80;}
         table.zui-table>tbody>tr>th> {}

	html * {
            font-family: OpenSans-Regular !important;
            font-size:0.87rem;
        }
	html table.cloud-card-class * {font-size:0.7rem;}
	table.cloud-card-class th {padding: 5px 0px 5px 0px;}
	table.zui-table *{font-size: 0.65rem;}
    </style>
    <div style='width: 100%;height: 90px;background-color:#153666;'>
        <div class="top-bar-left small-2 columns" style='margin-bottom:20px;'>
            <a>
                <ul class="menu" data-responsive-menu="accordion" style='background: #153666;background-color:#153666;padding: 0;display:flex;align-items:center;align-content:center;list-style-type: none;'>
                    <li class="menu-text" style="background: #FFA60B;padding: 16px;width:13%;">
                        <img style="width: 135px;" src="{{url}}/assets/img/Akasia_Logo.png?v=v5.0.0.20180412.1" class="logo">
                    </li>
                    <li style="background: #153666;width:87%;">
                    </li>
                </ul>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class='small-12  medium-12  large-12 text-center'></div>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table" border='1'>
        <caption style='padding:1px !important;background-color:#FFA60B'>
            <h3>Customer Information</h3>
        </caption>
        <tr class="text-left">
            <td>
                <b>Customer Name</b>
            </td>
            <td>{{userProfile.companyName}}</td>
            <td>
                <b>User Name</b>
            </td>
            <td id="userName">{{userProfile.firstName | capitalize }} {{userProfile.lastName | capitalize}}</td>
        </tr>
        <tr class="text-left">
            <td>
                <b>Source Name</b>
            </td>
            <td id="sourceName">{{hypervisorDatasetName}}</td>
            <td>
                <b>Source Data Updated</b>
            </td>
            <td id="sourceDataUpdated">{{openedProjectLastUpdateDate | date:'medium'}}</td>
        </tr>
        <tr class="text-left">
            <td>
                <b>Project Name</b>
            </td>
            <td id="projectName">{{openedProjectName}}</td>
            <td>
                <b>Report Generated On</b>
            </td>
            <td id="reportGeneratedOn">{{dateFormat | date:'medium'}}</td>
        </tr>
        <tr class="text-left">
            <td>
                <b>Region</b>
            </td>
            <td id="region">{{selectedRegion}}</td>
            <td>
                <b>Cloud Datacenter</b>
            </td>
            <td id="cloudDatacenter">{{selectedDatacenter}}</td>
        </tr>
        <tr class="text-left">
            <td>
                <b>Selected Cloud Provider</b>
            </td>
            <td id="selectedCloudProvider">{{selectedCloudProviderName}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
    <br>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table">
        <caption style='padding:1px !important;background-color:#FFA60B'>
            <h3>VM Selection Summary</h3>
        </caption>
    </table>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table" border='1'>
        <tr>
            <th style="padding-left: 45px;">
                <b>No. Of VMs</b>
            </th>
            <th style="padding-left: 45px;">
                <b>VCPUs</b>
            </th>
            <th style="padding-left: 45px;">
                <b>Memory</b>
            </th>
            <th style="padding-left: 45px;">
                <b>Storage</b>
            </th>
        </tr>
        <tr>
            <td style="padding-left: 45px;" id="noOfVms">{{vmCount}} / {{totalNoOfVMs}}</td>
            <td style="padding-left: 45px;" id="vcpu">{{noVcpu}}</td>
            <td style="padding-left: 45px;" id="memory">{{memory | number : 2}} GB</td>
            <td style="padding-left: 45px;" id="storage">{{storage | StorageUnitFilter}}</td>
        </tr>
    </table>
    
    <br>
    <br>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table">
        <caption style='padding:1px !important;background-color:#FFA60B'>
            <h3>Uptime Details</h3>
        </caption>
    </table>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table" border='1'>
        
        <tr class="text-left">
            <td style="padding-left: 45px;">
                <b>Average Uptime % Discovered:</b>
            </td>
            <td style="padding-left: 45px;">{{vmsUptime}}</td>
            <td style="padding-left: 45px;">
                <b>Average Uptime % Applied:</b>
            </td style="padding-left: 45px;">
            <td>{{vmsUptimeSelectedForModelling}}</td>
        </tr>
        <!-- <tr class="text-left">
            <td>
                <b>Source Name</b>
            </td>
            <td id="sourceName">{{hypervisorDatasetName}}</td>
            <td>
                <b>Source Data Updated</b>
            </td>
            <td id="sourceDataUpdated">{{openedProjectLastUpdateDate | date:'medium'}}</td>
        </tr>
        <tr>
            <th style="padding-left: 45px;">
                <b></b>
            </th>
            <th style="padding-left: 45px;">
                <b></b>
            </th>
        </tr>
        <tr>           
            <td style="padding-left: 45px;">
                <b>3.52%</b>
            </td>
            <td style="padding-left: 45px;">
                <b>100%</b>
            </td>
        </tr> -->
    </table>
    <br>
    <br>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table">
        <caption style='padding:1px !important;background-color:#FFA60B'>
            <h3>Headroom added for right-sized VMs:</h3>
        </caption>
    </table>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table" border='1'>
        <tr class="text-left">
            <td style="padding-left: 45px;">
                <b>CPU & Mem:</b>
            </td>
            <td style="padding-left: 45px;">{{hrSpecs.bufferPercentageCompute}}%</td>
            <td style="padding-left: 45px;">
                <b>Storage:</b>
            </td style="padding-left: 45px;">
            <td>{{hrSpecs.bufferPercentageStorage}}%</td>
        </tr>
    </table>
    <br>
    <br>
    <table style="width:98%;margin-left:1%;margin-right:1%;" class="zui-table">
        <caption style='padding:1px !important;background-color:#FFA60B'>
            <h3>Selected VMs for Modelling</h3>
        </caption>
    </table>
    <br>
    <br>
    <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;">
        <tr>
            <th style="font-size:0.6rem; width:35% !important;text-align: center;">
                <h2 class="text-center">Monthly On Prem Costs</h2>
            </th>
            <th style="font-size:0.6rem;width:65% !important;text-align: center;">
                <h2 class="text-center">Monthly Cost Summary</h2>
            </th>
        </tr>

        <tr>
            <td>
                <table style="width: 100%;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;">
                    <tr id="pieChart">
                    </tr>
                    <center>
                        <tr class="highlight" style="font-size:0.80rem;">
                            <td style="padding-left: 55px;color:#3069a0;">
                                <strong>CapEx</strong>
                            </td>
                            <td style="padding-left: 55px;">
                                <strong>OpEx</strong>
                            </td>
                        </tr>
                        <tr style="font-size:0.80rem;">
                            <td style="padding-left: 55px;color:#3069a0;">
                                <strong id="capEx">${{monthlyCapEx | number : 2}}</strong>
                            </td>
                            <td style="padding-left: 55px;">
                                <strong id="opEx">${{monthlyOpEx | number : 2}}</strong>
                            </td>
                        </tr>
                    </center>
                </table>
            </td>
            <td style="width:65% !important;">
                <table frame="box" style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;">
                    <tr id="barChart">
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>
    </table>
    <div style="page-break-before: always; page-break-after: always;" ng-hide="hideAllTables">
        <br>
        <br>
        <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
            class="card-table" border="1" ng-hide="hideAllTables">
            <caption style="padding:1px !important;background-color:#FFA60B">
                <h3>Cloud Cost Summary</h3>
            </caption>
        </table>
        <br>
        <br>
        <center class="cards">
            <table class="cloud-card-class"  frame='box' style="width:98%;margin-left:1%;margin-right:1%;border-color: #EFF1F4;border-width: 3px;font-size:0.7rem;">
                <tr style="color:#7089BA;">
                    <th colspan="2" rowspan="9" style="padding: 2%;">
                        <img style="width: 135px;" src="{{url}}/assets/img/cloud{{cloudName}}.png" class="logo">
                    </th>
                    <th>Total Monthly
                        <br>Other Costs</th>
                    <th>Advanced Services
                        <br>Costs</th>
                    <th>Network
                        <br>Costs</th>
                    <th>I/O
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th style="width:4%;"></th>
                    <th style="width:14%;color:#FFA90A;">Total Costs</th>
                </tr>
                <tr >
                    <td id="totalMonthlyOtherCosts">${{otherMonthlyCosts||0 | number:2}}</td>
                    <td id="advancedServicesCosts">${{totalAdditionalCost | number:2}}</td>
                    <td id="networkCosts">${{vmCost.networkCost | number:2}}</td>
                    <td id="ioCosts">${{vmCost.iopsCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="StorageCosts">${{vmCost.storageCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="ComputeCosts">${{vmCost.computeCost | number:2}}</td>
                    <td ng-if="isVMC()">{{finalArrForVCMCost.nitroHosts}} </td>
                    <td ng-if="isVMC()" id="nitroHosts">${{vmCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalCosts" style="color:#FFA90A;">${{vmCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr style="color:#2E86E4;">
                    <th colspan="2" rowspan="4"></th>
                    <th colspan="2">RIGHT SIZED COSTS</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th style="width: 4%;"></th>
                    <th style="width: 14%;">Total Right Sized Costs</th>
                </tr>
                <tr style="color:#2E86E4;">
                    <td colspan="2" rowspan="3"></td>
                    <td ng-if="isVMC()" id="nitroHosts">{{finalArrForVCMCost.nitroHostsRightsized}}</td>
                    <td ng-if="!isVMC()" id="rsStorageCosts">${{vmRightCost.storageCost | number:2}}</td>
                    <td ng-if="isVMC()" id="rsStorageCosts">${{vmRightCost.computeCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="rsComputeCosts">${{vmRightCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalRightSizedCosts">${{vmRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="2" rowspan="2"></td>
                    <td></td>
                    <th>Right Sized Savings</th>
                </tr>
                <tr></tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="7" rowspan="2"></td>
                    <td id="rightSizedSavings">${{vmCost.cloudCost - vmRightCost.cloudCost | number:2}}</td>
                </tr>
            </table>
        </center>
        <center class="cards" ng-if="subExist">
            <br>
            <br>
            <table class="cloud-card-class"  frame='box' style="width:98%;margin-left:1%;margin-right:1%;border-color: #EFF1F4;border-width: 3px;font-size:0.7rem;">
                <tr style="color:#7089BA;">
                    <th colspan="2" rowspan="9" style="padding: 2%;">
                        <img style="width: 135px;" src="{{url}}/assets/img/cloud{{subCloudName}}.png" class="logo">
                    </th>
                    <th>Total Monthly
                        <br>Other Costs</th>
                    <th>Advanced Services
                        <br>Costs</th>
                    <th>Network
                        <br>Costs</th>
                    <th>I/O
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th style="width:4%;"></th>
                    <th style="width:14%;color:#FFA90A;">Total Costs</th>
                </tr>
                <tr>
                    <td id="totalMonthlyOtherCosts">${{otherMonthlyCosts||0 | number:2}}</td>
                    <td id="advancedServicesCosts">${{totalAdditionalCost | number:2}}</td>
                    <td id="networkCosts">${{vmCost.networkCost | number:2}}</td>
                    <td id="ioCosts">${{vmCost.iopsCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="StorageCosts">${{vmSubCost.storageCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="ComputeCosts">${{vmSubCost.computeCost | number:2}}</td>
                    <td ng-if="isVMC()">{{vmSubCost.nitroHostCount}}</td>
                    <td ng-if="isVMC()" id="nitroHosts">${{vmSubCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalCosts" style="color:#FFA90A;">${{vmSubCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr style="color:#2E86E4;">
                    <th colspan="2" rowspan="4"></th>
                    <th colspan="2">RIGHT SIZED COSTS</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th style="width: 4%;"></th>
                    <th style="width: 14%;">Total Right Sized Costs</th>
                </tr>
                <tr style="color:#2E86E4;">
                    <td colspan="2" rowspan="3"></td>
                    <td ng-if="isVMC()" id="nitroHosts">{{vmSubRightCost.nitroHostCount}}</td>
                    <td ng-if="!isVMC()" id="rsStorageCosts">${{vmSubRightCost.storageCost | number:2}}</td>
                    <td ng-if="isVMC()" id="rsStorageCosts">${{vmSubRightCost.computeCost}}</td>
                    <td ng-if="!isVMC()" id="rsComputeCosts">${{vmSubRightCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalRightSizedCosts">${{vmSubRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="2" rowspan="2"></td>
                    <td></td>
                    <th>Right Sized Savings</th>
                </tr>
                <tr></tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="7" rowspan="2"></td>
                    <td id="rightSizedSavings">${{vmSubCost.cloudCost - vmSubRightCost.cloudCost | number:2}}</td>
                </tr>
            </table>
        </center>
        <center class="cards" ng-if="subSecondExist">
            <br>
            <br>
            <table class="cloud-card-class" frame='box' style="width:98%;margin-left:1%;margin-right:1%;border-color: #EFF1F4;border-width: 3px;font-size:0.7rem;">
                <tr style="color:#7089BA;">
                    <th colspan="2" rowspan="9" style="padding: 2%;">
                        <img style="width: 135px;" src="{{url}}/assets/img/cloud{{subSelected1}}.png" class="logo">
                    </th>
                    <th>Total Monthly
                        <br>Other Costs</th>
                    <th>Advanced Services
                        <br>Costs</th>
                    <th>Network
                        <br>Costs</th>
                    <th>I/O
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th style="width:4%;"></th>
                    <th style="width:14%;color:#FFA90A;">Total Costs</th>
                </tr>
                <tr>
                    <td id="totalMonthlyOtherCosts">${{otherMonthlyCosts||0 | number:2}}</td>
                    <td id="advancedServicesCosts">${{totalAdditionalCost | number:2}}</td>
                    <td id="networkCosts">${{vmCost.networkCost | number:2}}</td>
                    <td id="ioCosts">${{vmCost.iopsCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="StorageCosts">${{vmSubCost1.storageCost | number:2}}</td>
                    <td ng-if="!isVMC()" id="ComputeCosts">${{vmSubCost1.computeCost | number:2}}</td>
                    <td ng-if="isVMC()">{{vmSubCost1.nitroHostCount}}</td>
                    <td ng-if="isVMC()" id="nitroHosts">${{vmSubCost1.computeCost}}</td>
                    <td></td>
                    <td id="totalCosts" style="color:#FFA90A;">${{vmSubCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr style="color:#2E86E4;">
                    <th colspan="2" rowspan="4"></th>
                    <th colspan="2">RIGHT SIZED COSTS</th>
                    <th ng-if="isVMC()">Hosts</th>
                    <th ng-if="!isVMC()">Storage
                        <br>Costs</th>
                    <th ng-if="!isVMC()">Compute Costs</th>
                    <th ng-if="isVMC()">{{vmcCloudName}} Cost</th>
                    <th></th>
                    <th>Total Right Sized Costs</th>
                </tr>
                <tr style="color:#2E86E4;">
                    <td colspan="2" rowspan="3"></td>
                    <td ng-if="isVMC()" id="nitroHosts">{{vmSubRightCost1.nitroHostCount}}</td>
                    <td ng-if="!isVMC()" id="rsStorageCosts">${{vmSubRightCost1.storageCost | number:2}}</td>
                    <td ng-if="isVMC()" id="rsStorageCosts">${{vmSubRightCost1.computeCost}}</td>
                    <td ng-if="!isVMC()" id="rsComputeCosts">${{vmSubRightCost1.computeCost | number:2}}</td>
                    <td style="width: 4%;"></td>
                    <td style="width: 14%;" id="totalRightSizedCosts" style="color:#FFA90A;">${{vmSubRightCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="2" rowspan="2"></td>
                    <td></td>
                    <th>Right Sized Savings</th>
                </tr>
                <tr></tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="7" rowspan="2"></td>
                    <td id="rightSizedSavings">${{vmSubCost1.cloudCost - vmSubRightCost1.cloudCost | number:2}}</td>
                </tr>
            </table>
        </center>
        <br>
        <br>
        <center>
            <table style="width: 100%;">
                <tr style="font-size:0.75rem;font-weight:400;">
                    <th></th>
                    <th></th>
                    <th class="cost-align-class" style="color: #EE2328;">Total OnPremise Cost</th>
                    <th></th>
                    <th></th>
                    <th class="cost-align-class" style="color: #7089BA;">One Time Migration Cost</th>
                    <th></th>
                    <th></th>
                    <th class="cost-align-class" style="color: #153666;">Potential Savings from Right Sizing</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="font-size:0.8rem;font-weight:800;">
                    <td></td>
                    <td></td>
                    <td class="cost-align-class" id="totalOnPremiseCost" style="color: #EE2328;">${{(monthlyOpEx * 1 + monthlyCapEx * 1) | number:2 }}/mo</td>
                    <td></td>
                    <td></td>
                    <td class="cost-align-class" id="oneTimeMigrationCost" style="color: #7089BA;">${{totalOneTimeCost*1 | number:2}}</td>
                    <td></td>
                    <td></td>
                    <td class="cost-align-class" id="potentialSavingsfromRightSizing" style="color: #153666;">
                        <div ng-if="subExist">
                            <div ng-if=" vmCost.cloudCost-vmRightCost.cloudCost < vmSubCost.cloudCost-vmSubRightCost.cloudCost">
                                ${{vmCost.cloudCost-vmRightCost.cloudCost | number:2}} - {{vmSubCost.cloudCost-vmSubRightCost.cloudCost | number:2}} /mo
                            </div>
                            <div ng-if=" vmCost.cloudCost-vmRightCost.cloudCost > vmSubCost.cloudCost-vmSubRightCost.cloudCost">
                                ${{vmSubCost.cloudCost-vmSubRightCost.cloudCost | number:2}} - {{vmCost.cloudCost-vmRightCost.cloudCost | number:2}}/mo
                            </div>
                            <div ng-if=" vmCost.cloudCost-vmRightCost.cloudCost == vmSubCost.cloudCost-vmSubRightCost.cloudCost">
                                ${{vmCost.cloudCost-vmRightCost.cloudCost | number:2}}/mo
                            </div>
                        </div>
                        <div ng-if="!subExist">
                            ${{vmCost.cloudCost-vmRightCost.cloudCost | number:2}}/mo
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </center>
    </div>
    <!-- VMCONIBM Card -->
    <div style="page-break-before: always; page-break-after: always;" ng-show="vmcOnIbm">
        <br>
        <br>
        <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
            class="card-table" border="1">
            <caption style="padding:1px !important;background-color:#FFA60B">
                <h3>Cloud Cost Summary</h3>
            </caption>
        </table>
        <br>
        <br>
        <center class="cards">
            <table class="cloud-card-class" frame='box' style="width:98%;margin-left:1%;margin-right:1%;border-color: #EFF1F4;border-width: 3px;font-size:0.7rem;">
                <tr style="color:#7089BA;">
                    <th colspan="2" rowspan="9" style="padding: 2%;">
                        <img style="width: 135px;" src="{{url}}/assets/img/cloud{{cloudName}}.png" class="logo">
                    </th>
                    <th>Total Monthly
                        <br>Other Costs</th>
                    <th>Advanced Services
                        <br>Costs</th>
                    <th>Network
                        <br>Costs</th>
                    <th>I/O
                        <br>Costs</th>
    
                    <th>Hosts</th>
                    <th>{{vmcCloudNameIBM}} Cost</th>
                    <th style="width:4%;"></th>
                    <th style="width:14%;color:#FFA90A;">Total Costs</th>
                </tr>
                <tr>
                    <td id="totalMonthlyOtherCosts">${{otherMonthlyCosts||0 | number:2}}</td>
                    <td id="advancedServicesCosts">${{totalAdditionalCost | number:2}}</td>
                    <td id="networkCosts">${{vmCost.networkCost | number:2}}</td>
                    <td id="ioCosts">${{vmCost.iopsCost | number:2}}</td>
                    <td>{{vmCost.nitroHostCount}} </td>
                    <td>${{vmCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalCosts" style="color:#FFA90A;">${{vmCost.cloudCost * 1 + totalAdditionalCost * 1+
                        otherMonthlyCosts * 1 | number:2}}</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr style="color:#2E86E4;">
                    <th colspan="2" rowspan="4"></th>
                    <th colspan="2">RIGHT SIZED COSTS</th>
                    <th>Hosts</th>
                    <th>{{vmcCloudNameIBM}} Cost</th>
                    <th style="width: 4%;"></th>
                    <th style="width: 14%;">Total Right Sized Costs</th>
                </tr>
                <tr style="color:#2E86E4;">
                    <td colspan="2" rowspan="3"></td>
                    <td>{{vmRightCost.nitroHostCount}}</td>
                    <td>${{vmRightCost.computeCost | number:2}}</td>
                    <td></td>
                    <td id="totalRightSizedCosts">${{vmRightCost.cloudCost * 1+ totalAdditionalCost* 1+ otherMonthlyCosts *
                        1 | number:2}}</td>
                </tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="2" rowspan="2"></td>
                    <td></td>
                    <th>Right Sized Savings</th>
                </tr>
                <tr></tr>
                <tr style="color:#7089BA;padding: 5px 0px 5px 0px;">
                    <td colspan="7" rowspan="2"></td>
                    <td id="rightSizedSavings">${{vmCost.cloudCost - vmRightCost.cloudCost | number:2}}</td>
                </tr>
            </table>
        </center>
    </div>

    <div class='small-12  medium-12  large-12 margin-top-5' id='hideElement'>

        <div class='small-12  medium-12  large-12 text-left' ng-hide="hideAllTables">
            <br>
            <br>
            <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                border='1' class="zui-table" ng-hide="hideAllTables">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>VM Configuration
                        <span ng-if="isVMC()">As-Is</span>
                    </h3>
                </caption>
                <tr ng-if="!isVMC()" class='color-sub-heading color-dark-black'>
                    <th style="width:6% !important;">
                        <h4>
                            <b>#</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Name</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>ID</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Host</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Power State</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Guest OS</b>
                        </h4>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Uptime % Discovered</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>vCPUs</b>
                        </h4>
                    </th>
                    <th style="width:9% !important;">
                        <h4>
                            <b>Storage (GB)</b>
                        </h4>
                    </th>
                    <th style="width:9% !important;">
                        <h4>
                            <b>Memory (GB)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>vCPUs
                                <br/> Right Sized</b>
                        </h4>
                    </th>
                    <th style="width:9% !important;">
                        <h4>
                            <b>Storage
                                <br/>Right Sized (GB)</b>
                        </h4>
                    </th>
                    <th style="width:9% !important;">
                        <h4>
                            <b>Memory
                                <br/> Right Sized (GB)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>CPU Cycles (GHz)</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>I/O /mo (GB)</b>
                        </h4>
                    </th>
                </tr>
                <tr ng-if="(!isVMC())" ng-repeat="ele in vmGrid | orderBy:'vmName'" class='color-dark-black'>
                    <td>
                        <h4>{{$index+1}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmName}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmId}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.hostId}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestState | split:"powered":1 }}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestOS }}</h4>
                    </td>
                    <td>
                        <h4>{{(vmsUptimeArr['uptimeMap'][ele.vmId]!==undefined)?(vmsUptimeArr['uptimeMap'][ele.vmId]):(100)}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.numCores}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.diskGB | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.ramGB | number:2}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.numCores_Rightsized}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.diskGB_Rightsized | number:2}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.ramGB_Rightsized | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.cpuCycles | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.iops | number:2}}</h4>
                    </td>
                </tr>
                <tr ng-if="isVMC()" class='color-sub-heading color-dark-black'>
                    <th style="width:6% !important;">
                        <h4>
                            <b>#</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Name</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>ID</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Cluster Name</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Host</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>Power State</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Guest OS</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>vCPUs</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>CPU Cycles (GHz)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Memory (GB)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Storage (GB)</b>
                        </h4>
                    </th>
                    <!-- <th><h4><b>vCPUs<br/> RightSized (GHz)</b></h4></th> -->
                    <th style="width:8% !important;">
                        <h4>
                            <b>I/O /mo (GB)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Network Usage /mo (GB)</b>
                        </h4>
                    </th>
                </tr>
                <tr ng-if="isVMC()" ng-repeat="ele in vmGrid" class='color-dark-black'>
                    <td>
                        <h4>{{$index+1}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmName}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmId}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.clusterName}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.hostId}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestState | split:"powered":1 }}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestOS }}</h4>
                    </td>
                    <td>
                        <h4>{{ele.numCores}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.cpuCycles | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.ramGB | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.diskGB | number:2}}</h4>
                    </td>
                    <!-- <td style="color:#0095ff;"><h4>{{ele.numCores_Rightsized}}</h4></td> -->
                    <td>
                        <h4>{{ele.iops | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.networkUsage | number:2}}</h4>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if="isVMC()" ng-hide="hideAllTables" class='small-12  medium-12  large-12 text-left' style="page-break-before: always; page-break-after: always;">
            <br>
            <br>
            <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>VM Configuration Right Sized</h3>
                </caption>
                <tr class='color-sub-heading color-dark-black'>
                    <th style="width:6% !important;">
                        <h4>
                            <b>#</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Name</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>ID</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Cluster Name
                                <br/>Right Sized</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Host</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>Power State</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Guest OS</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>vCPUs
                                <br/>Right Sized</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>CPU Cycles
                                <br/>Right Sized (GHz)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Memory
                                <br/>Right Sized (GB)</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Storage
                                <br/>Right Sized (GB)</b>
                        </h4>
                    </th>
                </tr>
                <tr ng-repeat="ele in vmGrid " class='color-dark-black'>
                    <td>
                        <h4>{{$index+1}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmName}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.vmId}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.clusterNameRightsized}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.hostId}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestState | split:"powered":1 }}</h4>
                    </td>
                    <td>
                        <h4>{{ele.guestOS }}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.numCores_Rightsized}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.cpuCycles_Rightsized | number:2}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.ramGB_Rightsized | number:2}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.diskGB_Rightsized | number:2}}</h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class='small-12  medium-12  large-12 text-left' ng-if="isVMC()" style="page-break-before: always; page-break-after: always;">
            <br>
            <br>
            <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>{{vmcCloudName}} {{termTypeVMC}} Configuration and Costs</h3>
                </caption>
                <tr class='color-sub-heading color-dark-black'>
                    <th style="width:6% !important;">
                        <h4>
                            <b></b>
                        </h4>
                    </th>
                    <th style="width:15% !important;">
                        <h4>
                            <b>Clusters</b>
                        </h4>
                    </th>
                    <th style="width:15% !important;">
                        <h4>
                            <b>Hosts</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>CPU Cores</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>CPU Cycles (GHz)</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Memory (GB)</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Storage (TB)</b>
                        </h4>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Monthly Cost ($)</b>
                        </h4>
                    </th>
                </tr>
                <tr class='color-dark-black'>
                    <td>
                        <h4>As-Is</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.totalClusters }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.nitroHosts }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.cpuCores | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.cupCycles | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.memoryGB | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.storage | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.vmcCost | number:2 }}</h4>
                    </td>
                </tr>
                <tr class='color-dark-black' style="color:#2E86E4;">
                    <td>
                        <h4>Right Sized</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.totalClustersRightsized }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.nitroHostsRightsized }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.cpuRightSized | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.cpuCycleRightSized | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.memoryRightsized | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.storageRightsized | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{finalArrForVCMCost.vmcCostsRightsized | number:2 }}</h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class='small-12  medium-12  large-12 text-left' style="page-break-before: always; page-break-after: always;" ng-if="!isVMC()" ng-hide="hideAllTables">
            <br>
            <br>
            <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>Cloud Templates Costs ($)</h3>
                </caption>
                <tr class='color-sub-heading color-dark-black'>
                    <th style="width:7% !important;">
                        <h4>
                            <b>#</b>
                        </h4>
                    </th>
                    <th style="width:15% !important;">
                        <h4>
                            <b>Name</b>
                        </h4>
                    </th>
                    <th style="width:7% !important;">
                        <h4>
                            <b>ID</h4>
                        </b>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Comp Eq.</h4>
                        </b>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Uptime % Discovered</h4>
                        </b>
                    </th>
                    <th style="width:12% !important;">
                        <h4>
                            <b>Uptime % Applied</h4>
                        </b>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>OS License Type</h4>
                        </b>
                    </th>
                    <th style="width:11% !important;">
                        <h4>
                            <b>Compute Cost</h4>
                        </b>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Storage Cost</h4>
                        </b>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Network Cost</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>I/O Cost</b>
                        </h4>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Comp Right Sized</b>
                        </h4>
                    </th>
                    <th style="width:11% !important;">
                        <h4>
                            <b>Compute
                                <br/>Right Sized Cost</b>
                        </h4>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Storage
                                <br/>Right Sized Cost</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Total Cost</b>
                        </h4>
                    </th>
                    <th style="width:8% !important;">
                        <h4>
                            <b>Total Right Sized</b>
                        </h4>
                    </th>
                    <th style="width:10% !important;">
                        <h4>
                            <b>Right Sized Savings</b>
                        </h4>
                    </th>
                </tr>
                <tr ng-repeat="ele in vmGrid | orderBy:'vmName' | emptyToEnd1:'instance_Rightsized_for_export'" class='color-dark-black'>
                    <td>
                        <h4>{{$index+1}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{ele.vmName}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{ele.vmId}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{ele.instance_for_export}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{(vmsUptimeArr['uptimeMap'][ele.vmId]!==undefined)?(vmsUptimeArr['uptimeMap'][ele.vmId]):(100)}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{(ele.upTime == 100)?(100):((vmsUptimeArr['uptimeMap'][ele.vmId]!==undefined)?(vmsUptimeArr['uptimeMap'][ele.vmId]):(100))}}</h4>
                    </td>
                    <td ng-style="(ele.instance_for_export=='NO MATCH FOUND')?({'color':'#de3838'}):({})">
                        <h4>{{ele.targetType}}</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.priceHR | number:2}}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.storageCost| number:2 }}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.networkCost | number : 2}}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.iopsCost | number:2}}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.instance_Rightsized_for_export}}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.priceHR_Rightsized | number:2}}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4 ng-if="ele.instance_for_export!='NO MATCH FOUND'">{{ele.storageCost_Rightsized| number:2 }}</h4>
                        <h4 ng-if="ele.instance_for_export=='NO MATCH FOUND'">NA</h4>
                    </td>
                    <td>
                        <h4>{{ele.priceHR + ele.storageCost + ele.networkCost | number:2}}</h4>
                    </td>
                    <td style="color:#0095ff;">
                        <h4>{{ele.priceHR_Rightsized + ele.storageCost_Rightsized + ele.networkCost | number:2 }}</h4>
                    </td>
                    <td>
                        <h4>{{ele.priceHR + ele.storageCost + ele.networkCost - ele.priceHR_Rightsized - ele.storageCost_Rightsized
                            - ele.networkCost | number:2}}</h4>
                    </td>
                </tr>
            </table>
        </div>
        <!-- VMCONIBM Monthly Costs ($) table -->
               <div class='small-12  medium-12  large-12 text-left' style="page-break-before: always; page-break-after: always;" ng-show="vmcOnIbm">
                <br>
                <br>
                <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                    border='1' class="zui-table">
                    <caption style='padding:1px !important;background-color:#FFA60B'>
                        <h3>Monthly Costs ($)</h3>
                    </caption>
                    <tr class='color-sub-heading color-dark-black'>
                        <th style="width:7% !important;">
                            <h4>
                                <b>Serial No.</b>
                            </h4>
                        </th>
                        <th style="width:11% !important;">
                            <h4>
                                <b>Host Instance Class</b>
                            </h4>
                        </th>
                        <th style="width:7% !important;">
                            <h4>
                                <b>Host-ID</h4>
                            </b>
                        </th>
                        <th style="width:12% !important;">
                            <h4>
                                <b>Host Instance</h4>
                            </b>
                        </th>
                        <th style="width:12% !important;">
                            <h4>
                                <b>VM Count As-is</h4>
                            </b>
                        </th>
                        <th style="width:12% !important;">
                            <h4>
                                <b>Storage As-is (GB)</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>IO Cost As-is ($)</h4>
                            </b>
                        </th>
                        <th style="width:11% !important;">
                            <h4>
                                <b>Network Cost As-is ($)</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>VM Count RightSized</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>Storage RightSized (GB)</b>
                            </h4>
                        </th>
                        <th style="width:8% !important;">
                            <h4>
                                <b>IO Cost RightSized ($)</b>
                            </h4>
                        </th>
                        <th style="width:11% !important;">
                            <h4>
                                <b>Network Cost RightSized ($)</b>
                            </h4>
                        </th>
                        <th style="width:11% !important;">
                            <h4>
                                <b>Total Cost As-is ($)</b>
                            </h4>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>Total Cost RightSized ($)</b>
                            </h4>
                        </th>
                    </tr>
                    
               <tr ng-repeat="ele in gridCostVMCIBM" class='color-dark-black'>
                    <td ><h4>{{$index+1}}</h4></td>
                    <td ><h4>{{ele.instanceType}}</h4></td>
                    <td><h4>{{ele.hostId}}</h4></td>
                    <td ><h4>{{ele.serverClass}}</h4></td>
                    <td><h4>{{ele.numOfVms }}</h4></td>
                    <td ><h4>{{ele.storageAsIs | number:2}}</h4></td>
                    <td><h4>{{ele.ioCostAsIs | number:2}}</h4></td>
                    <td ><h4>{{ele.networkCostAsIs | number:2}}</h4></td>
                    <td style="color:#0095ff;"><h4>{{ele.numOfVmsRS }}</h4></td>
                    <td style="color:#0095ff;"><h4>{{ele.storageRS | number:2}}</h4></td>
                    <td style="color:#0095ff;"><h4>{{ele.ioCostRS | number:2}}</h4></td>
                    <td style="color:#0095ff;" ><h4>{{ele.networkCostRS | number:2}}</h4></td>
                    <td><h4>{{ele.totalCostAsIs | number:2}}</h4></td>
                    <td style="color:#0095ff;"><h4>{{ele.totalCostRS | number:2}}</h4></td>
                </tr>             
            </table>
        </div>
               <!-- VMCONIBM Host Configuration table -->
               <div class='small-12  medium-12  large-12 text-left' style="page-break-before: always; page-break-after: always;" ng-show="vmcOnIbm">
                <br>
                <br>
                <table style="table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;width:98%;margin-left:1%;margin-right:1%;"
                    border='1' class="zui-table">
                    <caption style='padding:1px !important;background-color:#FFA60B'>
                        <h3>Host Configuration</h3>
                    </caption>
                    <tr class='color-sub-heading color-dark-black'>
                        <th style="width:7% !important;">
                            <h4>
                                <b>Mapping Rule</b>
                            </h4>
                        </th>
                        <th style="width:15% !important;">
                            <h4>
                                <b>Host Instance</b>
                            </h4>
                        </th>
                        <th style="width:7% !important;">
                            <h4>
                                <b>Host Instance Class</h4>
                            </b>
                        </th>
                        <th style="width:8% !important;">
                            <h4>
                                <b>Host Count</h4>
                            </b>
                        </th>
                        <th style="width:12% !important;">
                            <h4>
                                <b>vCPU</h4>
                            </b>
                        </th>
                        <th style="width:12% !important;">
                            <h4>
                                <b>vCPU Cycles (GHz)</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>Memory (GB)</h4>
                            </b>
                        </th>
                        <th style="width:11% !important;">
                            <h4>
                                <b>Storage Class</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>Total no of drives</h4>
                            </b>
                        </th>
                        <th style="width:10% !important;">
                            <h4>
                                <b>Total Storage (GB)</b>
                            </h4>
                        </th>
                        <th style="width:8% !important;">
                            <h4>
                                <b>Network Cost ($)</b>
                            </h4>
                        </th>
                        <th style="width:8% !important;">
                            <h4>
                                <b>Total Cost ($)</b>
                            </h4>
                        </th>
                    </tr>
                    
                    <tr ng-repeat="ele in gridConfigVMCIBM" class='color-dark-black'>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.mappingRule}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.instanceClass}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.instanceType}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.hostCount | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.totalCores | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.totalCycles | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.totalMemory | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.storageClass}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.noOfDrives | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.totalStorage | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.networkCost | number:2}}</h4></td>
                        <td ng-style="(ele.mappingRule.trim() == 'Right Sized')?({'color':'#0095ff'}):({})"><h4>{{ele.totalCost | number:2}}</h4></td>
                    </tr>             
            </table>
        </div> 
        <!-- Advanced services table -->
        <div class='small-12  medium-12  large-12 margin-top-5 text-left'>
            <br>
            <br>
            <table style="width:98%;margin-left:1%;margin-right:1%;" border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>Selected Advanced Services</h3>
                </caption>
                <tr class='color-sub-heading color-dark-black'>
                    <th>
                        <h4>
                            <b># </b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>Service Name</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>Configuration</b>
                        </h4>
                    </th>
					<th>
						<h4>
							<b>Product Instance</b>
						</h4>
					</th>
                    <th>
                        <h4>
                            <b>Unit Price ($)</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>Quantity</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>Total Price</b>
                        </h4>
                    </th>
                </tr>
                <tr ng-repeat='ele in advancedServices' class='color-dark-black'>
                    <th>
                        <h4>{{$index+1}}</h4>
                    </th>
                    <td>
                        <h4>{{ele.Service_Name}}</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.productConfiguration">{{ele.productConfiguration}}</h4>
                    </td>
                    <td>
                        <h4 ng-if="ele.instance">{{ele.instance}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.Service_Cost | number:2}}</h4>
                    </td>
                    <td>
                        <h4>{{ele.Quantity }}</h4>
                    </td>
                    <td>
                        <h4>${{ele.Service_Cost * ele.Quantity| number:2}}</h4>
                    </td>
                </tr>
                <tr class='color-sub-heading color-dark-black'>
                    <th>
                        <h4>&nbsp;</h4>
                    </th>
                    <th>
                        <h4>&nbsp;</h4>
                    </th>
                    <th>
                        <h4>&nbsp;</h4>
                    </th>
                    <th>
                        <h4>&nbsp;</h4>
                    </th>
                    <th>
                        <h4>&nbsp;</h4>
                    </th>
                    <th>
                        <h4>
                            <b>Total</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>${{totalAdditionalCost | number:2}}</b>
                        </h4>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <!-- Other Cloud Costs Details table -->
        <div class='small-12  medium-12  large-12 margin-top-5 text-left'>
            <table style="width:98%;margin-left:1%;margin-right:1%;" border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>Other Cloud Costs</h3>
                </caption>
                <tr ng-repeat='ele in otherCostsDetails' class='color-dark-black'>
                    <th>
                        <h4>{{$index+1}}</h4>
                    </th>
                    <td>
                        <h4>{{ele.description}}</h4>
                    </td>
                    <td>
                        <h4>${{ele.value}}</h4>
                    </td>
                </tr>
                <tr class='color-sub-heading color-dark-black'>
                    <th></th>
                    <th class="text-right">
                        <h4>
                            <b>Total</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>${{otherMonthlyCosts||0}}</b>
                        </h4>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <!-- Other Cloud Costs Details table -->
        <div class='small-12  medium-12  large-12 margin-top-5 text-left'>
            <table style="width:98%;margin-left:1%;margin-right:1%;" border='1' class="zui-table">
                <caption style='padding:1px !important;background-color:#FFA60B'>
                    <h3>One-Time Project Costs</h3>
                </caption>
                <tr ng-repeat='ele in oneTimeProjectCostsDetails' class='color-dark-black'>
                    <th>
                        <h4>{{$index+1}}</h4>
                    </th>
                    <td>
                        <h4>{{ele.description}}</h4>
                    </td>
                    <td>
                        <h4>${{ele.value}}</h4>
                    </td>
                </tr>
                <tr class='color-sub-heading color-dark-black'>
                    <th></th>
                    <th class="text-right">
                        <h4>
                            <b>Total</b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <b>${{totalOneTimeCost}}</b>
                        </h4>
                    </th>
                </tr>
            </table>
        </div>
        <!-- Other Cloud Costs Details table -->
        <div class='small-12  medium-12  large-12 margin-top-5 text-left' style="page-break-before: always; page-break-after: always;">
            <br>
            <br>
            <table style="width:98%;margin-left:1%;margin-right:1%;" border='1' class="zui-table">
                <caption ng-if="gcpTotals==null" style='padding:1px !important;background-color:#FFA60B'>
                    <h3>Monthly Total Cloud Costs </h3>
                </caption>
                <caption ng-if="gcpTotals!==null" style='padding:1px !important;background-color:#FFA60B'>
                    <h3>Monthly Costs with Discounts for: Sustained Usage / 1-Year Committed Use / 3-Year Committed Use</h3>
                </caption>
                <tbody ng-if="gcpTotals!==null">
                    <tr class="color-sub-heading color-dark-black">
                        <th>
                            <h4>
                                <b>#</b>
                            </h4>
                        </th>
                        <th>
                            <h4>
                                <b>Name</b>
                            </h4>
                        </th>
                        <th>
                            <h4>
                                <b>Monthly Costs (Sustained Usage)</b>
                            </h4>
                        </th>
                        <!-- <th><h4><b>Sustained Used Cost</b></h4></th> -->
                        <th>
                            <h4>
                                <b>Monthly Costs (1-Year Committed Use)</b>
                            </h4>
                        </th>
                        <th>
                            <h4>
                                <b>Monthly Costs (3-Year Committed Use)</b>
                            </h4>
                        </th>
                    </tr>
                    <tr class='color-dark-black'>
                        <td>
                            <h4> 1. </h4>
                        </td>
                        <td>
                            <h4> {{selectedCloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced Services
                                Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                        <!-- <td><h4 ng-if="gcpTotals.cloud.sustainedUseAsIs<0"><b>NA</b></h4><h4 ng-if="gcpTotals.cloud.sustainedUseAsIs>=0"><b>${{gcpTotals.cloud.sustainedUseAsIs | number:2}}</b></h4></td> -->
                        <td>
                            <h4 ng-if="gcpTotals.cloud.commited1YearAsIs<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.cloud.commited1YearAsIs>=0">
                                <b>${{gcpTotals.cloud.commited1YearAsIs | number:2}}</b>
                            </h4>
                        </td>
                        <td>
                            <h4 ng-if="gcpTotals.cloud.commited3YearAsIs<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.cloud.commited3YearAsIs>=0">
                                <b>${{gcpTotals.cloud.commited3YearAsIs | number:2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black'>
                        <td>
                            <h4> 2. </h4>
                        </td>
                        <td>
                            <h4> {{selectedCloudProviderName}} with right-sized Mapping(Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                        <!-- <td><h4 ng-if="gcpTotals.cloud.sustainedUseRS<0"><b>NA</b></h4><h4 ng-if="gcpTotals.cloud.sustainedUseRS>=0"><b>${{gcpTotals.cloud.sustainedUseRS | number:2}}</b></h4></td> -->
                        <td>
                            <h4 ng-if="gcpTotals.cloud.commited1YearRS<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.cloud.commited1YearRS>=0">
                                <b>${{gcpTotals.cloud.commited1YearRS | number:2}}</b>
                            </h4>
                        </td>
                        <td>
                            <h4 ng-if="gcpTotals.cloud.commited3YearRS<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.cloud.commited3YearRS>=0">
                                <b>${{gcpTotals.cloud.commited3YearRS | number:2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subExist">
                        <td>
                            <h4> 3. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSubCloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced Services
                                Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                        <!-- <td><h4 ng-if="gcpTotals.subCloud.sustainedUseAsIs<0"><b>NA</b></h4><h4 ng-if="gcpTotals.subCloud.sustainedUseAsIs>=0"><b>${{gcpTotals.subCloud.sustainedUseAsIs | number:2}}</b></h4></td> -->
                        <td>
                            <h4 ng-if="gcpTotals.subCloud.commited1YearAsIs<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.subCloud.commited1YearAsIs>=0">
                                <b>${{gcpTotals.subCloud.commited1YearAsIs | number:2}}</b>
                            </h4>
                        </td>
                        <td>
                            <h4 ng-if="gcpTotals.subCloud.commited3YearAsIs<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.subCloud.commited3YearAsIs>=0">
                                <b>${{gcpTotals.subCloud.commited3YearAsIs | number:2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subExist">
                        <td>
                            <h4> 4. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSubCloudProviderName}} with right-sized Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number
                                    :2}}</b>
                            </h4>
                        </td>
                        <!-- <td><h4 ng-if="gcpTotals.subCloud.sustainedUseRS<0"><b>NA</b></h4><h4 ng-if="gcpTotals.subCloud.sustainedUseRS>=0"><b>${{gcpTotals.subCloud.sustainedUseRS | number:2}}</b></h4></td> -->
                        <td>
                            <h4 ng-if="gcpTotals.subCloud.commited1YearRS<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.subCloud.commited1YearRS>=0">
                                <b>${{gcpTotals.subCloud.commited1YearRS | number:2}}</b>
                            </h4>
                        </td>
                        <td>
                            <h4 ng-if="gcpTotals.subCloud.commited3YearRS<0">
                                <b>NA</b>
                            </h4>
                            <h4 ng-if="gcpTotals.subCloud.commited3YearRS>=0">
                                <b>${{gcpTotals.subCloud.commited3YearRS | number:2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subSecondExist">
                        <td>
                            <h4> 5. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSub1CloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subSecondExist">
                        <td>
                            <h4> 6. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSub1CloudProviderName}} with right-sized Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubRightCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number
                                    :2}}</b>
                            </h4>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="gcpTotals==null">
                    <tr class="color-sub-heading color-dark-black">
                        <th>
                            <h4>
                                <b>#</b>
                            </h4>
                        </th>
                        <th>
                            <h4>
                                <b>Name</b>
                            </h4>
                        </th>
                        <th>
                            <h4>
                                <b>Monthly Cost</b>
                            </h4>
                        </th>
                    </tr>
                    <tr class='color-dark-black'>
                        <td>
                            <h4> 1. </h4>
                        </td>
                        <td>
                            <h4> {{selectedCloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced Services
                                Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black'>
                        <td>
                            <h4> 2. </h4>
                        </td>
                        <td>
                            <h4> {{selectedCloudProviderName}} with right-sized Mapping(Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subExist">
                        <td>
                            <h4> 3. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSubCloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced Services
                                Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subExist">
                        <td>
                            <h4> 4. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSubCloudProviderName}} with right-sized Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubRightCost.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number
                                    :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subSecondExist">
                        <td>
                            <h4> 5. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSub1CloudProviderName}} with as-is Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number :2}}</b>
                            </h4>
                        </td>
                    </tr>
                    <tr class='color-dark-black' ng-if="subSecondExist">
                        <td>
                            <h4> 6. </h4>
                        </td>
                        <td>
                            <h4> {{selectedSub1CloudProviderName}} with right-sized Mapping (Monthly infrastructure costs, Advanced
                                Services Cost , Other monthly costs)</h4>
                        </td>
                        <td>
                            <h4>
                                <b>${{(vmSubRightCost1.cloudCost * 1+ totalAdditionalCost * 1+ otherMonthlyCosts * 1) | number
                                    :2}}</b>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.filter('split', function () {
            return function (input, splitChar, splitIndex) {
                if (input == undefined)
                    return "";
                return input.split(splitChar)[splitIndex];
            }
        });
        app.filter('capitalize', function () {
            return function (input) {
                return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
            }
        });;
        app.controller("myCtrl", function ($scope, $http) {
            $scope.vmGrid = [];
            $scope.hideElement = true;
        }).filter('trim', function () {
            return function (value) {
                if (!angular.isString(value)) {
                    return value;
                }
                return value.trim(); // you could use .trim, but it's not going to work in IE<9
            };
        }).filter('StorageUnitFilter', function () {
            return function (bytes, precision) {
                if (isNaN(parseFloat(bytes)) || !isFinite(bytes)) return '-';
                if (typeof precision === 'undefined') precision = 2;
                var units = ['GB', 'TB', 'PB'],
                    number = Math.floor(Math.log(bytes) / Math.log(1024));
                return (bytes / Math.pow(1024, Math.floor(number))).toFixed(precision) + ' ' + units[number];
            }
        }).filter("emptyToEnd1", function () { return function (array, key) { if (!angular.isArray(array)) return; var present = array.filter(function (item) { return (item[key] !== "NO MATCH FOUND") ? (item[key]) : (null); }); var empty = array.filter(function (item) { return (item[key] == "NO MATCH FOUND") ? (item[key]) : (null); }); return present.concat(empty); }; });

    </script>
</body>
